<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Page Flows</title>
  </head>
  <body>
    <header class="pageflows-header">
      <div class="pageflows-header-container">
        <div class="pageflows-header-main">
          <div class="pageflows-logo">
            <img src="media/image/logo.png" alt="Page-Flows-Logo" />
          </div>
          <div class="pageflow-searchbar">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input type="text" placeholder="Search" />
          </div>
        </div>
        <div class="pageflows-header-nav">
          <ul>
            <li class="active">
              <a href="">IOS</a>
            </li>
            <li class="active"><a href="">ANDROID</a></li>
            <li class="active"><a href="">WEB</a></li>
            <li class="active"><a href="">EMAILS</a></li>
          </ul>
        </div>
        <div class="pageflows-header-right-menu">
          <ul>
            {% if user.is_authenticated %}
                <div class="get-premium-menu">
                    <span>Welcome, {{ user.username }}!</span>
                </div>
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="logout-button">Logout</button>
                </form>
                  {% else %}
                      <div class="get-premium-menu">
                          <a href="{% url 'login' %}">SIGN IN</a>
                      </div>
                  {% endif %}
                <div class="get-premium-menu">
                    <a href="#">GET PREMIUM</a>
                </div>
          </ul>
        </div>
      </div>
      <div class="pageflows-header-bottom-nav">
        <div class="userflow-menu">
          <ul class="userflow-menu-nav">
            <div class="userflow-menu-dropdown">
              <span>USER FLOWS</span>
              <i class="fa-solid fa-caret-down"></i>
              <div class="dropdown-content">
                <li class="active">USER FLOWS</li>
                <li class="active">PRODUCTS</li>
                <li class="active">UI ELEMENTS</li>
                <li class="active">SCREENS</li>
              </div>
            </div>
          </ul>
          <div class="main-navbar-menu">
            <ul class="main-navbar">
              <li class="active">
                <a href="#" id="filter-toggle">FILTERS &nbsp; &nbsp; &nbsp;</a>
                <i class="fa-solid fa-list-ul"></i>
              </li>
              <div id="filter-slide" class="filter-content">
                <div class="filter-row">
                    <div class="filter-col">
                        {% if user_flows_with_names_counts %}
                            {% for user_f in user_flows_with_names_counts %}
                                <div class="filter-item">
                                    <a href="?selected_name={{ user_f.title }}">
                                      <span>{{ user_f.title }}</span>
                                    </a>
                                  <span>{{ user_f.userflow_count }}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No user flows available for the products.</p>
                        {% endif %}
                    </div>
                </div>
              </div>
              {% for item in nav_items %}
                <li class="active">
                    {{ item.title }}
                </li>
              {% endfor %}
            </ul>
          </div>

        </div>
        <div class="userflow-right-menu">
          <ul>
            <li class="userflow-right-dropdown-open">
              <span>SORT</span>
              <i class="fa-solid fa-bars"></i>
              <div class="dropdown-content"></div>
              <ul>
                <li>
                  <a href="">MOST VIEWED</a>
                </li>
                <li>
                  <a href="">RECENTLY ADDED</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <section class="IOS-users">
      <div class="pageflows-ios-user">
        <h1 class="IOS">{{ selected_name }}</h1>
        <p class="para">Learn from proven products</p>
      </div>
    </section>


    <section class="main-onB">
      {% for product in products %}
      <section class="ONBOARDING">
        <div class="services">

          <div class="onB">
            <a href="{% url 'product_detail' product.id %}">
              <img src="{{ product.logo.url }}" alt="{{ product.title }}" />
              <div class="text-content">
                <h4>{{ product.title }}</h4>
                <p>{{ product.description }}</p>
              </div>
            </a>
          </div>
          <div class="icon">
            <i class="fa-solid fa-eye opa">{{ product.view_count }}</i>
            <i class="fa-solid fa-box-archive opa">{{ product.save_count }}</i>
          </div>
        </div>

        <section class="images">
          <div class="img">
            <div class="img1">
              {% if user.is_authenticated %}
                {% if user.is_staff %}
                  <img src="{{ product.image.url }}" alt="{{ product.title }}" />
                {% elif product.user_flows.first.is_paid %}
                  <img src="{{ product.image.url }}" alt="{{ product.title }}" />
                {% else %}
                  <img src="{{ product.image.url }}" alt="Locked Content" />
                  <div class="overlay">
                    <button class="buy-btn">Buy</button>
                  </div>
                {% endif %}
              {% else %}
                <img src="images/img1.jpg" alt="Locked Content" />
                <div class="overlay">
                  <button class="buy-btn">Buy</button>
                </div>
              {% endif %}
            </div>
          </div>
        </section>
      </section>
      {% endfor %}
    </section>





    <footer class="footer">
      <div class="footer-nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Submit A Request</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-copy">
        <img src="/media/image/logo.png" alt="" />
        <div class="copy-text">
          Design better user flows. Learn from proven products. <br />Pageflow ©
          Copyright 2024. All rights reserved
        </div>
      </div>
      <div class="links">
        <p>Terms & Privacy</p>
        <div class="link-icons">
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-pinterest-p"></i>
        </div>
      </div>
    </footer>
    <script>
      const filterToggle = document.getElementById("filter-toggle");
      const filterSlide = document.getElementById("filter-slide");

      filterToggle.addEventListener("click", function (e) {
        e.preventDefault();
        filterSlide.style.display = filterSlide.style.display === "block" ? "none" : "block";
      });

      window.addEventListener("click", function (e) {
        if (!filterSlide.contains(e.target) && !filterToggle.contains(e.target)) {
          filterSlide.style.display = "none";
        }
      });
  </script>
  </body>
</html>
