<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Page Flows</title>
  </head>
  <body>
    <header class="pageflows-header">
      <div class="pageflows-header-container">
        <div class="pageflows-header-main">
          <div class="pageflows-logo">
                <a href="{% url 'index' %}"><img src="/media/image/logo.png" alt="Page-Flows-Logo" /></a>
            </div>
          <div class="pageflow-searchbar">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input type="text" placeholder="Search" />
          </div>
        </div>
        <div class="pageflows-header-nav">
          <ul>
            <li class="active">
              <a href="">IOS</a>
            </li>
            <li class="active"><a href="">ANDROID</a></li>
            <li class="active"><a href="">WEB</a></li>
            <li class="active"><a href="">EMAILS</a></li>
          </ul>
        </div>
        <div class="pageflows-header-right-menu">
          <ul>
            {% if user.is_authenticated %}
                <div class="get-premium-menu">
                    <span>Welcome, {{ user.username }}!</span>
                </div>
                <form method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="logout-button">Logout</button>
                </form>
                  {% else %}
                      <div class="get-premium-menu">
                          <a href="{% url 'login' %}">SIGN IN</a>
                      </div>
                        <div class="get-premium-menu">
                            <a href="#">GET PREMIUM</a>
                        </div>
                  {% endif %}

          </ul>
        </div>
      </div>
      <div class="pageflows-header-bottom-nav">
        <div class="userflow-menu">
          <ul class="userflow-menu-nav">
            <div class="userflow-menu-dropdown">
              <span>USER FLOWS</span>
              <i class="fa-solid fa-caret-down"></i>
              <div class="dropdown-content">
                <li><a href="/userflow/">USER FLOWS</a></li>
                <li><a href="/">PRODUCTS</a></li>
                <li class="active">UI ELEMENTS</li>
                <li class="active">SCREENS</li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </header>
    <section class="main-onB-product">
      <section class="ONBOARDING-p">
        <div class="services-p">
          <div class="onB-p">
            <img src="{{ product.logo.url }}" alt="{{ product.title }} Logo">
            <div class="text-content-p">
              <h1>{{ product.title }}</h1>
              <p>{{ product.description }}</p>
            </div>
          </div>
          <div class="icon">
            <i class="fa-solid fa-eye opa">{{ product.view_count }}</i>
          </div>
        </div>
      </section>
      <section class="ONBOARDING-p">
        <div class="services-p">
            <div class="onB-p-w">
                <button class="styled-button">November 2023</button>
                <div class="text-content-p">
                    <a href="" class="styled-link">Website</a>
                </div>
            </div>
            {% with categories=user_flow|dictsort:"category"|slice:":1" %}
            {% for user_f in category %}
                <div class="icon-w">
                    <h2>Category</h2>
                    <p>{{ user_f.category }}</p>
                </div>
            {% endfor %}
            {% endwith %}
        </div>
      </section>
    </section>

    <section class="product">
      <div class="main-sec">
        <div class="sidebar">
            <ul class="category-list" >
                {% for user_f in user_flows %}
                    <li class="list-links" data-userflow-id="{{ user_f.id }}" onclick="makeActive(this)">
                        <a class="list-links" href="{% url 'user_flow_api' user_f.id %}" style="text-decoration: none; color: black; font-weight: bold;">{{ user_f.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <section class="product-details">
          <section class="product-details">
              <div class="text-content-p-swipe">
                <div class="product-video-section" style="display: block;">
                  <div class="product-v">
                    <video controls>
                        <source src="{{ selected_user_flow.video.url }}" type="video/mp4">
                    </video>
                  </div>

                  <h1>{{ selected_user_flow.name }}</h1>
                  <p>
                    <i class="fa-solid fa-box-archive opa">{{ selected_user_flow_screenshot_count }}</i>
                  </p>
                  <div class="p-onB">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                        {% for screenshot in selected_user_flow.screenshots.all %}
                          <div class="swiper-slide">
                            <img src="{{ screenshot.image.url }}" alt="Screenshot for {{ selected_user_flow.name }}">
                          </div>
                        {% endfor %}
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                    </div>
                  </div>
                </div>

                {% for user_f in user_flows %}
                  {% if user_f.id != selected_user_flow.id %}
                    <div class="main-sec-text userflow-content" data-userflow-id="{{ user_f.id }}">
                      <h2>{{ user_f.name }}</h2>
                      <p>
                        <i class="fa-solid fa-box-archive opa">{{ user_f.screenshot_count }}</i>
                      </p>
                      <div class="swiper-container">
                        <div class="swiper-wrapper">
                          {% for screenshot in user_f.screenshots.all %}
                            <div class="swiper-slide">
                              <img src="{{ screenshot.image.url }}" alt="Screenshot for {{ user_f.name }}">
                            </div>
                          {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
          </section>
      </div>

    <footer class="footer">
      <div class="footer-nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Submit A Request</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-copy">
        <img src="/media/image/logo.png" alt="" />
        <div class="copy-text">
          Design better user flows. Learn from proven products. <br />Pageflow ©
          Copyright 2024. All rights reserved
        </div>
      </div>
      <div class="links">
        <p>Terms & Privacy</p>
        <div class="link-icons">
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-pinterest-p"></i>
        </div>
      </div>
    </footer>
    <script>
      var swiper = new Swiper(".swiper-container", {
        slidesPerView: 3,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        loop: false,
        breakpoints: {
          1024: {
            slidesPerView: 4,
            spaceBetween: 10,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 10,
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10,
          },
        },
      });
    </script>

<!--      <script>-->
<!--    function makeActive(element) {-->
<!--        // Remove 'active' class from all items-->
<!--        document.querySelectorAll('.list-links').forEach(item => item.classList.remove('active'));-->

<!--        // Add 'active' class to the clicked element-->
<!--        element.classList.add('active');-->
<!--    }-->
<!--</script>-->

  </body>
</html>
